body{
    font-family: 'Roboto', sans-serif;
}

#konten1{
    background:url(img/gym.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* position: absolute; */
    
}
.nav-link, .navbar-brand{
    color: #fff!important;
    /* font-size: 20px; */
    font-weight: bold;
}
.navbar-toggler{
    background-color:rgb(133, 128, 128);
    border: black;
}
.icon{
    color: #fff;
}
.carousel{
    margin-top: 300px;
    color:#fff !important;
    font-weight: bold;
    /* position: relative; */
}
.card{
    height: 300px;
    color: #fff;
}
#card1{
    background: url(./img/gym.jpg);
    background-size: cover;
    opacity: 0.8;
    /* background-attachment: fixed; */
    /* height: 200px; */
}
#card2{
    background: url(./img/hd.jpg);
    background-size: cover;
    opacity: 0.8;
    /* background-attachment: fixed; */
}
#card3{
    background: url(./img/gym.jpg);
    background-size: cover;
    opacity: 0.8;
    /* background-attachment: fixed; */
}
.card-body a{
    background-color: rgb(209, 83, 25);
    color: #fff;
}
.card-body a:hover{
    background-color: rgb(209, 83, 25);
    color: #fff;
}
#konten3{
    background-color: rgb(27, 23, 23);
    color: #fff;
    margin-top: -50px;
    background-attachment: fixed;
}
.btn2{
    background-color: rgb(209, 83, 25);
    color: #fff;
    border-radius: 5px;
}
#konten4{
    background-color: rgb(190, 33, 5);
    margin-top: -50px;
    color: #fff;
}
#konten5{
    margin-top: -48px;
}
#card4{
    background: url(./img/mcd.jpg);
    background-size: cover;
    opacity: 0.9;
}
#card5{
    background: url(./img/wew.jpg);
    background-size: cover;
    opacity: 0.9;
}
#card6{
    background: url(./img/kk.jpg);
    background-size: cover;
    opacity: 0.9;
}
#card7{
    background: url(./img/gym.jpg);
    background-size: cover;
    opacity: 0.9;
}


.btn1{
    float: right;
    /* transition: 2s; */
}
.btn1:hover{
    border-radius: 40px;
    transform: rotate(350deg);
    margin-left: 20px;
}
#home-tab, #profile-tab,#contact-tab,#ppsr-tab{
    color:#dddddd !important;
    border:none;
    background-color: rgb(27, 23, 23);
}
#home-tab:hover, #profile-tab:hover,#contact-tab:hover,#ppsr-tab:hover{
    background-color: rgb(209, 83, 25);
}
#konten5{
    background-color: rgb(27, 23, 23);
    /* height: 500px; */
}
.table1, .table2 ,.table3 , .table4{
    height:80px;
}
.table{
    background-color: rgb(27, 23, 23);
    color: #fff;
    border: none;
}
.table-bordered{
    /* border:2px solid rgb(27, 23, 23); */
}
.judul{
    border: none;
}